.ListBox {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 50px;
   column-gap: 70px;
   font-size: 18px;
}

.ListBox div {
    padding-bottom: 30px;
}

.ListBox-Link {
    font-weight: 400;
    text-decoration: none;
    color: #FFFF99;
    cursor: pointer;
}

.ListBox-Link:hover {
   font-weight: bold;
   font-size: larger;
   color: #FFF;
}

p {
    color: #FFF;
    padding-bottom: 10px;
}