.Container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 500px));
  column-gap: 25px;
  height: 100vh;
}

.Container > div {
  background: #000;
  padding: 8px;
}

.Container-Info {
  text-align: center;
  font-size: larger;
  font-weight: 200;
}

.Container-Error {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #990000!important;
  color: white;
  min-width: 350px;
  max-height: 60px;
  z-index: 10;
  padding: 10px;
  font-weight: 200;
}

.Container-Link {
  text-decoration: none;
  color: #FFFF99;
}